#hatom{
  color: darkblue;
}
#toma{
  color: red;
}
#tezoh{
  color: green;
}
.first {
    background-image: url("https://scontent.fcai21-1.fna.fbcdn.net/v/t31.18172-8/964750_118046991733316_1058535164_o.jpg?_nc_cat=109&ccb=1-7&_nc_sid=09cbfe&_nc_ohc=aSy057dZOmoAX-3mmvI&_nc_ht=scontent.fcai21-1.fna&oh=00_AfBWdkJiXU9ycM0JlIJoKBg77iKMhwr6iyqdZzZGWfQ0ag&oe=63CB5745");
  }